@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
@font-face {
  font-family: 'Avenir';
  src: url('@/assets/fonts/Avenir.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply relative h-full bg-black tracking-[.5px] overflow-x-hidden leading-[120%];
}

/* for title on home page */
.bordered-text {
  color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
}

/* table */
thead,
tbody tr {
  @apply table w-full table-fixed;
}

/* scroll */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e75626;
  border-radius: 10px;
}
